<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <header>user <%= username %></header>
  <% if(username){ %>
  <form action="/logout" method="POST" style="margin:10px;">
    <input type="submit" value="logout" />
  </form>
  <% } else{ %>
  <form action="/login" method="POST" style="margin:10px;">
    <label for="username">Login:</label>
    <input
      id="username"
      type="text"
      name="username"
      value=""
      style="width: 50px"
    />
    <input type="submit" value="login" />
  </form>
  <% } %>
</html>
