<meta charset="UTF-8" />
<header>header partial</header>
<form action="/login" method="POST" style="margin:150px;">
  <label for="username">Login:</label>
  <input
    id="username"
    type="text"
    name="username"
    value=""
    style="width: 300px"
  />
  <input type="submit" value="login" />
</form>
