<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <header>user <%=user_id%></header>
  <% if(user_id){ %>
  <form action="/logout" method="POST" style="margin:10px;">
    <input type="submit" value="logout" />
  </form>
  <% } else{ %>
  <form action="/login" method="POST" style="margin:10px;">
    <label for="user_id">Login:</label>
    <input
      id="user_id"
      type="text"
      name="user_id"
      value=""
      style="width: 50px"
    />
    <input type="submit" value="login" />
  </form>
  <% } %>
</html>
