<title>login</title>
<form action="/register" method="POST">
  <h1>Login</h1>
  <p>Please login in to shorten your damn URLs.</p>

  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="ur damn email" name="email" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="ur damn password" name="password" />

  <button type="submit" class="signupbtn">login</button>
</form>
