<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <body>
      <% include partials/_headers %>
      <h1><b>TinyApp Delete</b></h>
      </head>
        <ul>
          <% for (let key in urls) {%>
            <li> <u>short:</u>
              <%= key %> ---> <u>long:</u>
              <%= urls[key] %>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button>DELETE</button>
              </form>
            </li>
                <%} %>
          </ul>
        </body>
        <href='#'> shorten url</href>
      </html>
