<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_headers %> <% if (longURL.userID === user_id){ %>
    <form action="/urls/<%= shortURL %>/" method="POST" style="margin:150px;">
      <label for="longURL">Update: <%= longURL.longURL %></label>
      <input
        id="longURL"
        type="text"
        name="longURL"
        value="<%= longURL.longURL %>"
        style="width: 300px"
      />
      <input type="submit" value="Update" />
    </form>
    <% } else { %>
    <p>Error: not logged in as correct user.</p>
    <%}%>
  </body>
</html>
