<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <body>
      <% include partials/_headers %>
      <h1>TinyApp</h>
      </head>
        <ul>
          <% for (let key in urls) {%>
            <% if (urls[key].userID === user_id) {%>
            <li> <u>short:</u>
              <%= key%> ---> <u>long:</u>
              <%= urls[key].longURL %>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button>DELETE</button>
              </form>
              <form method="GET" action="/urls/<%= key %>">
                <button>UPDATE</button>
              </form>
            </li>
              <%} %>
                <%} %>
          </ul>
        </body>
        <href='#'> shorten url</href>
      </html>
