<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <h1><b>LOOOOOOOOOOOOOOOOOOP</b></h1>
    <ul>
      <%urls.forEach(function(urls){%>
      <li> short url <%= urls.shortUrl%>  :  long url <%= urls.longUrl %></li>
      <%});%>
      <href='#'> shorten url</href>
    </ul>
  </body>
</html>
